html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: #101010;
  position: relative;

  .pacifico-regular {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
    font-family: "Pacifico", serif;
  }
}


canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}


.namebox {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.namebox a {
  text-decoration: none;
  color: #ff69b4;
  margin: 0 auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.message {
  font-family: "Archivo", sans-serif;
  /* or 'Inter'/'Poppins' if you prefer */
  font-size: 20px;
  color: #fefefef4;
  margin-top: 10px;
  opacity: 0;
  animation: fadeIn 2.5s ease-in-out 1.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.copy {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Arial", sans-serif;
  font-size: 22px;
  color: #ff69b4;
  text-align: center;
}

.copy a {
  color: #6666669c;
}

.title {
  color: #ff69b4;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;
}



